
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}

        {% endblock%}
        |Sitio web Django
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div id="logotipo">
        <img src="{% static 'images/logo.png' %}"/>
        <h1>Sitio WEB con Django | RJ</h1>
        </div>
    </header>
    <nav>
        <ul>

            <li> <a href="/inicio"> Inicio </a></li>
    
            <li> <a href="/hola-mundo">Hola mundo</a></li>
    
            <li> <a href="/pag-pruebas">pag-pruebas</a></li>
    
            <li> <a href="/contacto">contacto</a></li>
        </ul>
    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            <h2 class="title"></h2>
            {% block content%}

            <!--COdigo que vienve de templates-->
            <strong>COntenido bloque original</strong>

            {% endblock%}
        </div>

    </div>

    <footer>
        Master en Python &copy; Juan Riquelme
    </footer>
</body>

</html>